# Prioritize TypeScript files
*.ts linguist-detectable=true
*.js linguist-detectable=false
**/*.ts linguist-detectable=true

# Lower priority for HTML files in the root folder
/*.html linguist-detectable=false
